.btn-3d {
  padding: .6rem 1rem;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color:  #51cade ;
  color: #fff;

  font-size: 1.2rem;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 1px 3px rgba(0,0,0,.2);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#2a7a87),to(#51cade));
  background-image: linear-gradient(#2a7a87 10%,#51cade 100%);
  vertical-align: middle;
  width: 180px;
  height: 75px;
}

.btn-3d:hover, .btn-3d:focus {
  background-color: #51cade;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
  background-image: linear-gradient(#51cade 10%,#2a7a87 100%);
}

.btn-3d:active {
  background-color: #1c3dd1;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) inset;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#7285da));
  background-image: linear-gradient(#49b7c9 10%,#5bdcf1 100%);
}


.titulo{
  font-family: Verdana, Arial, Tahoma, Serif;
  size: 30px;
}



.label1 {
  font: oblique bold 250% sans-serif;
}



.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

