html{
	background-image: url("../../assets/images/form_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

label , input{
	color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

#titulo{
	font-size: 28px;
    color: #000;
	line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins",Arial,sans-serif;
}

.pie{
	margin-top: 60px;
}

table {
	width: 350px;
	border-collapse: collapse;
	overflow: hidden;
	margin-left: 975px;
}

.nav_buttons td a button{
	margin-top: 14px;
	cursor: pointer;
	border-radius: 50%;
	height: 75px;
	width: 75px;
	background: #46b5d1;
	border: none;
}

.nav_buttons td a button:hover{
	filter:brightness(120%);
}

.nav_buttons td a button img{
	width: 55%;
	height: 55%;
	filter: invert(100%);
}

.cabecera {
    background: none;
    margin-top: -1.5%;
}

.tabla_botones{
	margin-bottom: 3%;
}

.tabla-nav_buttons{
	position: absolute;
	top: 1.5%;
	right: 1.0%;
}

.formulario_cliente {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 12%;
    width: 815px;
	margin-left: 95px;
}

.datos_persona {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	justify-content: flex-start;
}

.seccion_residentes{
	height: 34px;	
}

.datos_direccion{
	border-radius: 20px;
	display: flex;
    flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
}

input{
	background: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 30%);
	padding: 4px;
	width: 135px;
	-webkit-appearance: none;
}

input:hover{
	border-bottom: 1px solid #46b5d1;
}

.input_busqueda{
	text-align: center !important;
}

select{
	background: none;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	margin-bottom: 12px;
}

fieldset {
    padding: 0;
    margin-right: 0;
    height: 172px;
    border-radius: 5px;
    border: 2px solid #46b5d1;
    background: white;
}

textarea{
	border:none
}

legend{
font-size: 14px;
color: #46b5d1;
margin-left: 10px;
}

#button_aceptar{
	cursor: pointer;
	color: white;
	background-color: #46b5d1;
	border-radius: 10px;
	text-shadow: 0 0 2px black;
}

.busqueda_cliente{
	margin-top: 30px;
	margin-right: 100px;
}

#button_busqueda{
	cursor: pointer;
	color: white;
	background-color: #46b5d1;
	border-radius: 10px;
	width: 100px;
	text-shadow: 0 0 2px black;
}

#button_busqueda:hover{
	filter:brightness(120%);
}

.footer_botones{
	cursor: pointer;
	color: white;
	background-color: #46b5d1;
	border-radius: 10px;
	width: 100px;
	text-shadow: 0 0 2px black;
	margin-top: 15px;
	margin-right: 90px;
}

.table_buttons{
	cursor: pointer;
	color: white;
	background-color: #46b5d1;
	border-radius: 5px;
	width: 80px;
	text-shadow: 0 0 2px black;
}

.footer_botones:hover{
	filter:brightness(120%);
}

#button_aceptar:hover{
	filter:brightness(120%);
}

#logo_foca{
	position: absolute;
	top: 91%;
	left: 89%;
	width: 8em;
}

#logo_dalvian {
    position: absolute;
    width: 11em;
    left: 2%;
    top: 4%;
}

.cabecera_tabla{
	background-color: #46b5d1 !important;
	color: white;
}

.formulario_busqueda{
	margin-top: 10px;
}

th {
	text-shadow: 0 0 2px black;
	text-align: left;
	min-width: 50px;
}

th,td{
	padding: 7.5px;
	text-align: center;
	font-size: 12px;
	border:none;
	text-align: center;
}

.font1{
	color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
	padding-right: 90px;
}

.font2{
	line-height: 26px;
	color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
	padding-right: 50px;
	margin-right: 50px;
}

.tabla_busqueda{
	display: block;
	margin-left: 0px;
	float: left;
	max-height: 400px;
	width: 100%;
	overflow-y: scroll;
}

.tabla_busqueda2{
	display: block;
	margin-left: 0px;
	float: left;
	max-height: 340px;
	width: 100%;
	overflow-y: scroll;
}

.tabla_busqueda3{
	margin-left: 0px;
	float: left;
	max-height: 340px;
	width: 100%;
	overflow-y: scroll;
}

input[type=number] {
    -moz-appearance:textfield;
}

.table_clientes ,.table_residentes ,.dni ,.nombre ,.dni-residentes{
	border: none;
	height: 25px;
	width: 85px;
	cursor: pointer;
	color: white;
	background-color: #46b5d1;
	border-radius: 10px;
	text-shadow: 0 0 2px black;
}

.table_clientes:hover , .table_residentes:hover, .apellido:hover, .dni:hover, .domicilio:hover,.nombre:hover ,.dni-residentes:hover{
	filter:brightness(120%);
}

.apellido, .domicilio{
	border: none;
	height: 25px;
	cursor: pointer;
	color: white;
	background-color: #46b5d1;
	border-radius: 10px;
	text-shadow: 0 0 2px black;
}

.botones_navegacion{
	border: none;
}

.tabla1{
	background: white;
}

.tabla2{
	background: rgb(224, 224, 224);
}

.cabecera_dossa{
	padding-top: 30px;
	padding-right: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea { resize: none; }



