#foca-logo{
    position: absolute;
    left: 85%;
    top: 90%;
    width: 10em;
}

label{
    font-size: 2.5em;
    font-family: Poppins;
    width: 100%;
}

body{
    background: rgb(0,179,255);
    background: -moz-radial-gradient(circle, rgba(0,179,255,0.6629026610644257) 30%, rgba(1,62,88,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(0,179,255,0.6629026610644257) 30%, rgba(1,62,88,1) 100%);
    background: radial-gradient(circle, rgba(0,179,255,0.6629026610644257) 30%, rgba(1,62,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b3ff",endColorstr="#013e58",GradientType=1);
}

.titulo-menu{
    width: 100%;
    color: black;
}

.contendedor-menu{
    position: absolute;
    border: 0.125em #f5f5f5 solid;
    width: 50em;
    border-radius: 0.625em;
    height: 35em;
    box-shadow: 0.625em 0.625em 0.625em 0.625em rgb(1 62 88);
    top: 13%;
    left: 21.5%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    overflow: hidden;
}

#actividades{
    border-radius: 0.625em 0.625em 0 0;
    border: none;
    border-bottom: 2px solid #f5f5f5;
    background-image: url('../../assets/images/actividades.png');
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position-y: 20%;
    transition-duration: 1s;
    height: 100%;
    width: 100%;
    color: white;
}

#clases{
    border: none;
    background-image: url('../../assets/images/clases.png');
    background-repeat: no-repeat;
    background-size: 100% 130%;
    background-position-y: 30%;
    transition-duration: 1s;
    height: 100%;
    width: 100%;
    color: white;
    border-bottom: 2px solid #f5f5f5;
}

#espacios{
    border-radius: 0 0 0.625em 0.625em;
    border: none;
    background-image: url('../../assets/images/espacios.png');
    background-size:cover ;
    background-position-y: 90%;
    transition-duration: 1s;
    height: 100%;
    width: 100%;
    color: white;
}

.actividades-contenedor{
    height: 33.33%;
    width: 100%;
}

.clases-contenedor{
    width: 100%;
    height: 33.33%;
}

.espacios-contenedor{
    width: 100%;
    height: 33.33%;
}

#atras{
    background: none;
    border: none;
    background-image: url('../../assets/images/back.png');
    background-size:cover ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg);
    position: absolute;
    top: 85%;
    width: 8em;
    height: 6em;
    cursor: pointer;
}